h3 {
    color:rgb(117, 74, 245);
    font-family: 'Edu NSW ACT Foundation', cursive;
   text-transform: capitalize;
   word-spacing: 10px;
   text-shadow: 1px 1px rgb(237, 149, 62);
    }
    body {
        background-color:burlywood ; 
        background-image: url("https://cdn.vox-cdn.com/thumbor/CTEu-LzRxSsC8J0c03Ak94qOkbA=/0x0:2160x3840/1200x0/filters:focal(0x0:2160x3840):no_upscale()/cdn.vox-cdn.com/uploads/chorus_asset/file/19917284/VRG_Wallpaper_iPhone_SE_alt.0.png");
    }
    img {
border-radius: 40%;
width: 40%;
opacity: 0.8;
filter: invert(5%);

}
ol {}
hr{
    
}
   